*{
    margin: 0px;
    padding: 0px;
}

.df{
    display: flex;
}
.f-1{
    flex: 1;
}
.j-center{
    display: flex;
    justify-content: center;

}
.j-bettween{
    display: flex;
    justify-content: space-between;
    
}
.j-around{
    display: flex;
    justify-content: space-around;
}
.j-end{
    display: flex;
    justify-content: flex-end;
}
.a-center{
    align-items: center;
}
.f-column{
    display: flex;
    flex-direction: column;
}
.p-r{
    position: relative;
}
.p-a{
    position: absolute;
}

.r1{
    border: 1px solid red;
}
.y1{
    border: 1px solid yellow;
}
.b1{
    border: 1px solid black;
}

.l-height32{
    line-height: 32px;
}
.w100{

    width: 100%;
    
}
.t-center{
    text-align: center;

}
.f12{
    font-size: 12px;
}

.w1170{
    width: 1170px;
}
.h100{
    height: 100px;
}
.h70{
    height: 70px;
}
.h436{
    height: 436px;
}
.h350{
    height: 350px;
}
.w1070{
    width: 1070px;
}
.h1590{
    height: 1590px;
}
.h726{
    height: 726px;
}
.w1054{
    width: 1054px;
}
.h160{
    height: 160px;
}
.w732{
    width: 732px;
}
.b2{
    border: 2px solid black;
}
.h434{
    height: 434px;
    
}
.h600{
    height: 600px;
}
.w1078{
    width: 1078px;
}
.h362{
    height: 362px;
}
.fs16{
    font-size: 16px;
}
.w652{
    width: 652px;
   
}
.h82{
    height: 82px;
}
.w1064{
    width: 1064px;
}
.h352{
    height: 352px;
}
.w286{
    width: 286px;
}
.h22{
    height: 22px;
}
.w290{
    width: 290px;
}
.h330{
    height: 330px;
}
.mt40{
    margin-top: 40px;
}
.h724{
    height: 724px;
}
.h630{
    height: 630px;
    
}
.w1058{
    width: 1058px;
}
.h160{
    height: 160px;
}
.w290{
    width: 290px;
}
.w738{
    width: 738px;
}
.w1170{
    width: 1170;
}
.h468{
    height: 468px;
}
.mt20{
    margin-top: 20px;
}
.h318{
    height: 318px;    
}
.w652{
    width: 652px;
}
.w370{
    width: 370px;
}
.h314{
    height: 314px;
}
.g1{
    border: 1px solid gray;
}
.w146{
    width: 146px;
}
.box_content3_pic img{
    width: 100%;
    height: 100%;
}
.w488{
    width: 488px;
}
.h420{
    height: 420px;
}
.h234{
    height: 234px;
}
.w950{
    width: 950px;
}
.h68{
    height: 68px;
}
.w124{
    width: 124px;
}
.h50{
    height: 50px;
}
.w190{
    width: 190px;
}
.h44{
    height: 44px;
}
.w184{
    width: 184px;
}
.h32{
    height: 32px;
}
.h400{
    height: 400px;
}
.w1200{
    width: 1200px;
}
.w950{
    width: 950px;

}
.h630{
    height: 630px;
}
.h188{
    height: 188px;
}
.h380{
    height: 380px;
}
.h335{
    height: 335px;
}
.h138{
    height: 138px;
}
.w238{
    width: 238px;
}
.h668{
    height: 668px;
}
.h446{
    height: 446px;
}
.w460{
    width: 460px;
}
.w140{
    width: 140px;
}
.h140{
    height: 140px;
}
.w320{
    width: 320px;
}
.w950{
    width: 950px;
    
}
.h498{
    height: 498px;
}
.h100{
    height: 100px;
}
.h398{
    height: 398px;
}
.mb10{
    margin-bottom: 10px;
}
.w358{
    width: 358px;
}
.w440{
    width: 440px;
}
.w119{
    width: 119px;
}
.h30{
    height: 30px;
}
.w59{
    width: 59px;
}
.h88{
    height: 88px;
}
.w1000{
    width: 1000px;
}
.height{
    height: 460px;
}
.w120{
    width: 120px;    
}
.h70{
    height: 70px;
}
.fs12{
    font-size: 12px;
}
.fs14{
    font-size: 14px;
}
.h509{
    height: 509px;
}
.w644{
    width: 644px;
}
.w274{
    width: 274px;
}
.w162{
    width: 274px;
}
.h104{
    height: 104px;
}
.w450{
    width: 450px;
}
.w162{
    width: 162px;
}
.h38{
    height: 38px;
}
.h40{
    height: 40px;
}
.w276{
    width: 276px;
}
.h320{
    height: 320px;
}
.w274{
    width: 274px;

}
.h76{
    height: 76px;
}
.h84{
    height: 84px;
}
.h140{
    height: 140px;
}
.h72{
    height: 72px;
}
.h80{
    height: 80px;
}
.h140{
    height: 140px;
}
.w98{
    width: 98px;
}
.w172{
    width: 172px;
}
.h310{
    height: 310px;
}
.h150{
    height: 150px;
}
.h40{
    height: 40px;
}
.pr{
    position: relative;
}
.pa{
    position: absolute;
}
.h176{
    height: 176px;
}
.w920{
    width: 920px;
}
.h122{
    height: 122px;
}
.h145{
    height: 145px;
}
.h108{
    height: 108px;
}
.h48{
    height: 48px;
}
.w612{
    width: 612px;
}
.h36{
    height: 36px;
}
.w322{
    width: 322px;
}
.w1002{
    width: 1002px;
}
.h98{
    height: 98px;
}
.h44{
    height: 44px;
}

.h328{
    height: 328px;
}
.w670{
    width: 670px;
}
.w258{
    width: 258px;
}
.h368{
    height: 368px;
}
.h308{
    height: 308px;
}
.w332{
    width: 332px;
}
.h590{
    height: 590px;
}
.h466{
    height: 466px;
}
.w242{
    width: 242px;
}
.w732{
    width: 732px;
}
.h42{
    height: 42px;
}
.w420{
    width: 420px;
}
.w270{
    width: 270px;
}
.w730{
    width: 730px;
}
.h150{
    height: 150px;
}
.w270{
    width: 270px;
}
.h120{
    height: 120px;
}
.w420{
    width: 420px;
}

.h150{
    height: 150px;
}
.w244{
    width: 244px;

}
.h276{
    height: 276px;
}
.h42{
    height: 42px;
}
.h490{
    height: 490px;
}
.f1{
    flex: 1;
}
.f5{
    flex: 5;
}
.h64{
    height: 64px;
}
.m-l-20{
    margin-left: 20px;
}
.p-l-8{
    
    padding-left: 8px;
}
.cw{
    color: white;
}
.bg_blue{
    background: rgb(87, 87, 128);
}
.p10{
    padding:10px;
}
.m-t-40{
    margin-top: 40px;
}
.m-t-10{
    margin-top: 10px;
}
.wb20{
    width: 20%;
}
.wb24{
    width: 24%;
}
.hb30{
    height: 30%;
}
.h60{
    height: 60px;
}
.fs22{
    font-size: 40px;
}
.h50{
    height: 50px;
}
.w200{
    width: 200px;
}
.m-t-10{
    margin-top: 10px;
}
.fw7{
    font-weight: 700;
}
.w200{
    width: 200px;
}
.h200{
    height: 200px;
}
.h602{
    height: 602px;
}
.h608{
    height: 607px;
}
.m-l-r-20{
    margin-left: 20px;
    margin-right: 20px;
}
.bgwhite{
    background: white;
}
.fixed{
    position: fixed;
}
.m-l-r-15{
    margin-left: 15px;
    margin-right: 15px;
}
.m-l-10{
    margin-left: 10px;
}
.m-t-15{
    margin-top:15px
}
.h40{
    height: 40px;
}
.bgw{
    background: white;
}
.h30{
    height: 30px;
}
.wb100{
    width: 100%;
}
.w300{
    width: 400px;
}
.h40{
    height: 40px;
}
.m-b-20{
    margin-bottom: 20px;
}
.m-t-20{
    margin-top: 20px;
}
.m-r-30{
    margin-right:30px;
}
.ccc{
    display: flex;
    align-items: center;
    justify-content: center;
}
.w00{
    width: 100%;
    
}
.h00{
    height: 100%;
}
.bgBlue{
    background: blue;
}
.bgBlack{
    background: black;
}
.bgGreen{
    background: green;
}

// el-menu-demo el-menu--horizontal el-menu